# LX25

TIMESPEC TS_gps_clk_in = PERIOD "GPS_TCXO" 16.368 MHz HIGH 50%;
TIMESPEC TS_adc_clk_out = PERIOD "ADC_CLKOUT" 80 MHz HIGH 50%;
TIMESPEC TS_adc_clk_in = PERIOD "ADC_CLKIN" 65.472 MHz HIGH 50%;
#TIMESPEC TS_adc_clk_in = PERIOD "ADC_CLKIN" 81.84 MHz HIGH 50%;
TIMESPEC TS_bbb_clk_in = PERIOD "BBB_SCLK" 48 MHz HIGH 50%;

# XuLA right
NET "ADC_DATA<10>"	LOC = "B15";			# _1 (wiring goof)
NET "ADC_DATA<13>"	LOC = "B16";			# _1
NET "ADC_DATA<12>"	LOC = "C15";			# _1
NET "ADC_DATA<11>"	LOC = "C16";			# _1
NET "ADC_DATA<9>"	LOC = "F16";			# _1
NET "ADC_DATA<8>"	LOC = "F15";			# _1
NET "ADC_DATA<7>"	LOC = "J14";			# gclk5_1
NET "ADC_DATA<6>"	LOC = "J16";			# gclk4_1
NET "ADC_DATA<5>"	LOC = "K16";			# _1
NET "ADC_DATA<4>"	LOC = "K15";			# _1
NET "ADC_DATA<3>"	LOC = "M16";			# _1
NET "ADC_DATA<2>"	LOC = "M15";			# _1
NET "ADC_DATA<1>"	LOC = "R16";			# _1
NET "ADC_DATA<0>"	LOC = "R15";			# _1
NET "ADC_CLKOUT"	LOC = "R7";				# gclk29_2
NET "ADC_CLKOUT"	TNM_NET = ADC_CLKOUT;	# ADC osc -> FPGA clk
NET "ADC_CLKIN"		LOC = "T7";				# gclk28_2
NET "ADC_CLKIN"		TNM_NET = ADC_CLKIN;	# FPGA osc -> ADC clk


# XuLA left
# (breadboard-31 blu)
NET "X<0>"			LOC = "A2";				# _3 p9-10/sys_reset_n

# (breadboard-30 pur)
NET "BBB_CS_N<0>"	LOC = "B2" | PULLUP;	# _3 p9-17/cs0

# (breadboard-29 grn)
NET "BBB_MOSI"		LOC = "B1" | PULLDOWN;	# _3 p9-18/mosi

# (breadboard-28 pur)
NET "BBB_MISO"		LOC = "C1" | SLOW | DRIVE=2; # _3 p9-21/miso

# (breadboard-27 blu)
NET "X<1>"			LOC = "E2";				# _3 dangling

# (breadboard-26 grn)
NET "BBB_CS_N<1>"	LOC = "E1" | PULLUP;	# _3 p9-24/cs1

# (breadboard-25 brn)
NET "BBB_SCLK"		LOC = "F2" | PULLDOWN;	# gclk27_3 p9-22/sclk
NET "BBB_SCLK"		TNM_NET = BBB_SCLK;

NET "LED_0"			LOC = "F1" | SLOW;		# gclk26_3 d2 LEFT TOP
NET "ADC_OSC_EN"	LOC = "H2" | SLOW | DRIVE=2; # _3
NET "LED_1"			LOC = "H1" | SLOW;		# _3 d1 RIGHT BOT

NET "IF_SGN"		LOC = "J4";				# gclk24_3
NET "GPS_TCXO"		LOC = "K3";				# gclk25_3
NET "GPS_TCXO"		TNM_NET = GPS_TCXO;

NET "X<2>"			LOC = "M1";				# _3
NET "X<3>"			LOC = "M2";				# _3
NET "X<4>"			LOC = "R1";				# _3
NET "X<5>"			LOC = "R2";				# _3
NET "X<6>"			LOC = "T4";				# _2
