
				// configuration
								
				DEFh	QUICK_BUILD		0

				DEFh	USE_ISE			1
				DEFh	USE_VIVADO		0

				DEFp	FPGA_VER		4'd1
				DEFp	FW_ID			0x5000

				DEFp	ADC_BITS		14
				
				DEFh	SPI_8			0
				DEFh	SPI_16			0
				DEFh	SPI_32			1
				
				DEFh	USE_CPU_MULT	1
				DEFh	USE_MIX_DDS		1
				DEFh	USE_GEN			1
				DEFh	USE_HBEAT		0
				DEFh	USE_DAC			0
				DEFh	USE_VCO			0
				DEFh	USE_LOGGER		0
				DEFh	USE_CPU_CTR		1
				DEFh	USE_DEBUG		1
				
			#if USE_ISE
				DEFh	SPARTAN_6		1
			#endif

			#if USE_VIVADO
				DEFh	ARTIX_7			1
			#endif

			#if SPARTAN_6
			 #if QUICK_BUILD
				DEFp	GPS_CHANS		0
				DEFp	RX_CHANS		1
				DEFp	WF_CHANS		1
				DEFp	FPGA_ID			4'd5
				DEFh	USE_RX_SEQ		1
			 #else
				DEFp	GPS_CHANS		4
				//DEFp	RX_CHANS		4	until we figure out the buffering problem
				DEFp	RX_CHANS		3
				DEFp	WF_CHANS		1
				DEFp	FPGA_ID			4'd3
				DEFh	USE_RX_SEQ		1
			 #endif
			#endif
				
			#if ARTIX_7
			 #if QUICK_BUILD
				DEFp	GPS_CHANS		0
				DEFp	RX_CHANS		1
				DEFp	WF_CHANS		1
				DEFp	FPGA_ID			4'd8
				DEFh	USE_RX_SEQ		0		// fixme: tmp due to out-of-brams
			 #else
				DEFp	GPS_CHANS		8
				DEFp	RX_CHANS		4
				DEFp	WF_CHANS		4
				DEFp	FPGA_ID			4'd7
				DEFh	USE_RX_SEQ		0		// fixme: tmp due to out-of-brams
			 #endif
			#endif
				
			#if SPARTAN_6
				DEFh	CLK_16M_65M		1
				DEFh	CLK_16M_49M		0
				DEFh	CLK_16M_82M		0
				DEFh	CLK_80M_20M		0
				DEFh	CLK_80M_16M		0
			#else
				DEFh	CLK_STD			1
			#endif

				DEFp	NSYNC			2 - 1		// bits in synchronizers


; ============================================================================

				// rx
				DEFp	RX1_DECIM		256
				DEFp	RX2_DECIM		31
				//DEFp	RX1_DECIM		321
				//DEFp	RX2_DECIM		37
				//DEFp	RX1_DECIM		8
				//DEFp	RX2_DECIM		1024
			
			#if SPI_32
				DEFp	NRX_SAMPS		128
			#else
				DEFp	NRX_SAMPS		128
			#endif

				DEFh	USE_RX_CIC24	0

			#if USE_RX_CIC24
				DEFp	RX1_BITS		24
				DEFp	RX2_BITS		23
			#else
				DEFp	RX1_BITS		22
				DEFp	RX2_BITS		18
				//DEFp	RX1_BITS		16
				//DEFp	RX2_BITS		16
			#endif
				DEFp	RXO_BITS		24

				DEFp	RX1_STAGES		3
				DEFp	RX2_STAGES		5
				
				
				// waterfall
			#if SPI_32
				DEFp	NWF_SAMPS		512
				DEFp	NWF_SAMPS_RPT	64
			#else
				//DEFp	NWF_SAMPS		128
				//DEFp	NWF_SAMPS_RPT	8
				DEFp	NWF_SAMPS		512
				DEFp	NWF_SAMPS_RPT	64
			#endif
				DEFp	NWF_SAMPS_LOOP	NWF_SAMPS / NWF_SAMPS_RPT
				
				DEFh	USE_WF_CIC24	1
				DEFh	USE_WF_MEM24	0
				DEFh	USE_WF_PUSH24	0
				DEFh	USE_WF_PRUNE	1
				DEFh	USE_WF_1CIC		1
				DEFh	USE_WF_NEW		0
				DEFh	USE_WF_COMP		0

				DEFp	WF1_STAGES		5
				DEFp	WF2_STAGES		5
				
			#if USE_WF_CIC24
				DEFp	WF1_BITS		24
				DEFp	WF2_BITS		24
			#else
				DEFp	WF1_BITS		16
				DEFp	WF2_BITS		16
			#endif
			
			#if USE_WF_MEM24
				DEFp	WFO_BITS		24
			#else
				DEFp	WFO_BITS		16
			#endif
			
			#if USE_WF_1CIC
				DEFp	WF_1CIC_MAXD	2048		// enough for USE_WF_NEW
			#else
				DEFp	WF_1CIC_MAXD	32
				DEFp	WF_2CIC_MAXD	32
			#endif


				// sampling
				DEFp	NADC_SAMPS		512

; ============================================================================

// NB: [10:0] (0x400 max) because [11] is used for further decoding

				// read reg (rdReg & op[10:0], one hot)
				// these 3 must be in these bit positions: see gps.v
				DEFb	GET_CHAN_IQ		0x001
				DEFb	GET_SRQ			0x002
				DEFb	GET_SNAPSHOT	0x004
				
				DEFb	HOST_RX			0x008
				DEFb	GET_CPU_CTR0	0x010
				DEFb	GET_CPU_CTR1	0x020
				DEFb	GET_CPU_CTR2	0x040
				DEFb	GET_CPU_CTR3	0x080
				DEFb	GET_STATUS		0x100
	
				// read reg (rdReg2 & op[10:0], one hot)

				// write reg (wrReg & op[10:0], one hot)
				DEFb	HOST_TX			0x001
				DEFb	SET_VCO			0x002
				DEFb	SET_MASK		0x004
				DEFb	SET_CHAN		0x008
				DEFb	SET_CA_NCO		0x010
				DEFb	SET_LO_NCO		0x020
				DEFb	SET_SV			0x040
				DEFb	SET_PAUSE		0x080
				
				// write reg (wrReg2 & op[10:0], one hot)
				DEFb	SET_CTRL		0x001
				DEFb	SET_RX_FREQ		0x002
				DEFb	SET_GEN			0x004
				DEFb	SET_GEN_ATTN	0x008
				DEFb	SET_WF_FREQ		0x010
				DEFb	SET_WF_DECIM	0x020
				DEFb	SET_RX_CHAN		0x040
				DEFb	SET_WF_CHAN		0x080
	
				// events (wrEvt & op[10:0], one hot)
				DEFb	HOST_RST		0x001
				DEFb	HOST_RDY		0x002
				DEFb	GPS_SAMPLER_RST	0x004
				DEFb	GET_GPS_SAMPLES	0x008
				DEFb	GET_MEMORY		0x010
				DEFb	GET_LOG			0x020
				DEFb	PUT_LOG			0x040
				DEFb	LOG_RST			0x080
				DEFb	CLR_RX_OVFL		0x100

				// events (wrEvt2 & op[10:0], one hot)
				DEFb	GET_RX_SRQ		0x001
				DEFb	GET_RX_SAMP		0x002
				DEFb	RX_FLIP_BUFS	0x004
				DEFb	WF_SAMPLER_RST	0x008
				DEFb	GET_WF_SAMP_I	0x010
				DEFb	GET_WF_SAMP_Q	0x020
				DEFb	GET_WF_SAMP_3	0x040
				DEFb	CPU_CTR_CLR		0x080
				DEFb	CPU_CTR_ENA		0x100
				DEFb	CPU_CTR_DIS		0x200

				// GET_STATUS
				DEFp	STAT_FPGA_ID	0x000f
				DEFp	STAT_CLOCK_ID	0x00f0
				DEFp	STAT_FPGA_VER	0x0f00
				DEFp	STAT_FW_ID		0x7000
				DEFb	STAT_OVFL		0x8000

				// SET_CTRL
				DEFb	CTRL_RX_WAKEUP	0x0001
				DEFp	CTRL_RX_WU_M	0x000f

				DEFb	CTRL_EEPROM_WP	0x0400
				DEFb	CTRL_USE_GEN	0x0800

			//#if SPARTAN_6
				DEFb	CTRL_LED_0		0x1000
				DEFb	CTRL_LED_1		0x2000
				DEFb	CTRL_OSC_EN		0x4000
				DEFb	CTRL_ADCLK_GEN	0x8000
			//#endif
