/*
 * Copyright (C) 2012 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;
/plugin/;

#include <dt-bindings/board/am335x-bbw-bbb-base.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/am33xx.h>

/ {
	compatible = "ti,beaglebone", "ti,beaglebone-black";

	/* identification */
	part-number = "BB-BONE-WL1837";
	version = "00A0";

	/* state the resources this cape uses */
	exclusive-use =
		/* the pin header uses */
		"P8.25",	/* sdio: data0 */
		"P8.24",	/* sdio: data1 */
		"P8.5",		/* sdio: data2 */
		"P8.6",		/* sdio: data3 */
		"P8.21",	/* sdio: clk */
		"P8.20",	/* sdio: cmd */
		"P9.19",	/* uart1: rtsn */
		"P9.20",	/* uart1: ctsn */
		"P9.26",	/* uart1: rxd */
		"P9.24",	/* uart1: txd */
		"P9.17",	/* i2c1 */
		"P9.18",	/* i2c1 */

		"gpio0_2",	/* WL_EN */
		"gpio0_7",	/* WL_IRQ */
		"gpio0_3",	/* BT_EN */
		"gpio1_29",	/* BUF_ENABLE */
		"gpio2_2", 	/* Audio_sync */
		"gpio1_20",	/* EMMC ResetN */
		"gpio1_16",	/* EEPROM Enable */

		/* the hardware ip uses */
		"mmc2",
		"uart1",
		"i2c1";

	fragment@0 {
		target = <&am33xx_pinmux>;
		__overlay__ {

		 	bt_pins_default: pinmux_bt_pins_default {
		 		pinctrl-single,pins = <
					BONE_P9_21 (PIN_OUTPUT_PULLUP   | MUX_MODE7) /* gpio0_3 BT_EN*/
				>;
			};

		 	bt_pins_sleep: pinmux_bt_pins_sleep {
		 		pinctrl-single,pins = <
					BONE_P9_21 (PIN_OUTPUT_PULLDOWN   | MUX_MODE7) /* gpio0_3 BT_EN*/
				>;
			};

			bb_mmc2_pins: pinmux_bb_mmc2_pins {
		 		pinctrl-single,pins = <
					BONE_P8_21 (PIN_INPUT_PULLUP | MUX_MODE2) /* gpmc_csn1.mmc1_clk */
		 			BONE_P8_20 (PIN_INPUT_PULLUP | MUX_MODE2) /* gpmc_csn2.mmc1_cmd */
					BONE_P8_25 (PIN_INPUT_PULLUP | MUX_MODE1) /* gpmc_ad0.mmc1_dat0 */
					BONE_P8_24 (PIN_INPUT_PULLUP | MUX_MODE1) /* gpmc_ad1.mmc1_dat1 */
					BONE_P8_05 (PIN_INPUT_PULLUP | MUX_MODE1) /* gpmc_ad2.mmc1_dat2 */
					BONE_P8_06 (PIN_INPUT_PULLUP | MUX_MODE1) /* gpmc_ad3.mmc1_dat3 */
				>;
			};

			bb_mmc2_pins_sleep: pinmux_bb_mmc2_pins_sleep {
				pinctrl-single,pins = <
					BONE_P8_21 (PIN_INPUT_PULLDOWN | MUX_MODE7) /* gpmc_csn1.mmc1_clk */
					BONE_P8_20 (PIN_INPUT_PULLDOWN | MUX_MODE7) /* gpmc_csn2.mmc1_cmd */
					BONE_P8_25 (PIN_INPUT_PULLDOWN | MUX_MODE7) /* gpmc_ad0.mmc1_dat0 */
					BONE_P8_24 (PIN_INPUT_PULLDOWN | MUX_MODE7) /* gpmc_ad1.mmc1_dat1 */
					BONE_P8_05 (PIN_INPUT_PULLDOWN | MUX_MODE7) /* gpmc_ad2.mmc1_dat2 */
					BONE_P8_06 (PIN_INPUT_PULLDOWN | MUX_MODE7) /* gpmc_ad3.mmc1_dat3 */
				>;
			};

			/* wl18xx card enable/irq GPIOs. */
			bb_wlan_pins: pinmux_bb_wlan_pins {
				pinctrl-single,pins = <
					BONE_P9_22  (PIN_OUTPUT_PULLUP | MUX_MODE7)  /* gpio0_2 WL_EN */
					BONE_P9_42A (PIN_INPUT_PULLUP | MUX_MODE7)   /* gpio0_7 WL_IRQ */
					BONE_P8_26  (PIN_OUTPUT_PULLUP | MUX_MODE0)  /* gpmc_csn0.gpio1_29 BF_EN*/
					BONE_P8_07  (PIN_OUTPUT_PULLDOWN | MUX_MODE7)/* gpmc_advn_ale.gpio2_2  Audio_sync*/
					BONE_P9_15  (PIN_OUTPUT_PULLUP | MUX_MODE7)  /* EEPROM Enable */
				>;
			};

			/* wl18xx card enable/irq GPIOs. */
			bb_wlan_pins_sleep: pinmux_bb_wlan_pins_sleep {
				pinctrl-single,pins = <
					BONE_P9_22  (PIN_OUTPUT_PULLUP | MUX_MODE7)  /* gpio0_2 WL_EN */
					BONE_P9_42A (PIN_INPUT_PULLUP | MUX_MODE7)   /* gpio0_7 WL_IRQ */
					BONE_P8_26  (PIN_OUTPUT_PULLUP | MUX_MODE0)  /* gpmc_csn0.gpio1_29 BF_EN*/
					BONE_P8_07  (PIN_OUTPUT_PULLDOWN | MUX_MODE7)/* gpmc_advn_ale.gpio2_2  Audio_sync*/
					BONE_P9_15  (PIN_OUTPUT_PULLUP | MUX_MODE7)  /* EEPROM Enable */				
				>;
			};

			bb_uart1_pins_default: pinmux_bb_uart1_pins_default {
				pinctrl-single,pins = <
					BONE_P9_26 ( PIN_INPUT  | MUX_MODE0 ) /* (D16) uart1_rxd.uart1_rxd */
					BONE_P9_24 ( PIN_OUTPUT | MUX_MODE0 ) /* (D15) uart1_txd.uart1_txd */
                                        BONE_P9_20 ( PIN_INPUT  | MUX_MODE0 ) /* (D18) uart1_ctsn.uart1_ctsn */
                                        BONE_P9_20 ( PIN_OUTPUT | MUX_MODE0 ) /* (D17) uart1_rtsn.uart1_rtsn  */
				>;
			};

			bb_uart1_pins_sleep: pinmux_bb_uart1_pins_sleep {
				pinctrl-single,pins = <
					BONE_P9_26 ( PIN_INPUT  | MUX_MODE0 ) /* (D16) uart1_rxd.uart1_rxd */
					BONE_P9_24 ( PIN_OUTPUT | MUX_MODE0 ) /* (D15) uart1_txd.uart1_txd */
                                        BONE_P9_20 ( PIN_INPUT  | MUX_MODE0 ) /* (D18) uart1_ctsn.uart1_ctsn */
                                        BONE_P9_20 ( PIN_OUTPUT | MUX_MODE0 ) /* (D17) uart1_rtsn.uart1_rtsn  */
				>;
			};

			bb_i2c1_pins: pinmux_bb_i2c1_pins {
				pinctrl-single,pins = <
					BONE_P9_17 (PIN_INPUT_PULLUP | MUX_MODE2)	/* i2c1 */
					BONE_P9_18 (PIN_INPUT_PULLUP | MUX_MODE2)	/* i2c1 */
				>;
			};
		};
	};

	fragment@1 {
		target-path="/";
		__overlay__ {
			wlan_en_reg: fixedregulator@1 {
				compatible = "regulator-fixed";
				regulator-name = "wlan-en-regulator";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				/* WL_EN */
				gpio = <&gpio0 2 0>;

				/* WLAN card specific delay */
				enable-active-high;
			};
		};
	};

        fragment@2 {
                target-path="/";
                __overlay__ {
 			kim {
				compatible = "kim";
				nshutdown_gpio = <3>; /* Bank0, pin3 */
				dev_name = "/dev/ttyS1";
				flow_cntrl = <1>;
				baud_rate = <3000000>;
			};
		};
	};

        fragment@3 {
                target-path="/";
                __overlay__ {
 			btwilink {
				compatible = "btwilink";
			};
		};	
	};

	fragment@4 {
		target = <&mmc2>;
		__overlay__ {
			status = "okay";
			vmmc-supply = <&wlan_en_reg>;
			bus-width = <4>;
			pinctrl-names = "default", "sleep";
			pinctrl-0 = <&bb_mmc2_pins &bb_wlan_pins>;
			pinctrl-1 = <&bb_mmc2_pins_sleep &bb_wlan_pins_sleep>;
			ti,non-removable;
			ti,needs-special-hs-handling;
			cap-power-off-card;
			keep-power-in-suspend;

			#address-cells = <1>;
			#size-cells = <0>;
			wlcore: wlcore@0 {
				compatible = "ti,wl1837";
				reg = <2>;
				interrupt-parent = <&gpio0>;
				interrupts = <7 1 /* IRQ_TYPE_EDGE_RISING */>;
			};
		};
	};

	fragment@5 {
		target = <&i2c2>;
		__overlay__ {
			status = "disabled";
		};
	};

	fragment@6 {
		target = <&uart1>;
		__overlay__ {
			pinctrl-names = "default", "sleep";
			pinctrl-0 = <&bb_uart1_pins_default &bt_pins_default>;
			pinctrl-1 = <&bb_uart1_pins_sleep &bt_pins_sleep>;
			status = "okay";
		};
	};

	fragment@7 {
		target = <&gpio1>;
		__overlay__ {
			emmc_rst {
				gpio-hog;
				gpio = <20 0>;
				output-low;
				line-name = "emmc_resetN";
			};
			eeprom_en {
				gpio-hog;
				gpio = <16 0>;
				output-high;
				line-name = "eeprom_enable";
			};
		};
	};

	fragment@8 {
		target = <&i2c1>;
		__overlay__ {
			pinctrl-names = "default";
			pinctrl-0 = <&bb_i2c1_pins>;
			status = "okay";
			clock-frequency = <400000>;
		};
	};
};
