@font-face {
    font-family: 'text-security-circle';
    src: url('text-security-circle.eot');
    src: url('text-security-circle.eot?#iefix') format('embedded-opentype'),
        url('text-security-circle.woff') format('woff'),
        url('text-security-circle.ttf') format('truetype'),
        url('text-security-circle.svg#text-security') format('svg');
}