#kiwi_page_container1
{
   min-height:100%;
   position:relative;
}

#id-kiwi-msg
{
	display: none;
	position:relative;
	float: left;	/* so background width tracks rendered text */
	/*background-color: lightSteelBlue;*/
	background-color: #ccffff;
	padding: 10px;
	margin: 10px;
	color: black;
	font-size: 14pt;
	border-radius: 15px;
	-moz-border-radius: 15px;
}

.class-sd-status
{
	font-size: 12pt;
	font-weight: bold;
	padding-left: 10px;
}
