/* DRM.css */

.cl-drm-blk {
    border-radius: 2px;
    margin: 0 2px;
    padding: 0 2px;
    background-color: grey;
}

.cl-drm-data {
    visibility: hidden;
    border-radius: 2px;
    margin: 0 6px 0 0;
    padding: 0 2px;
    background-color: grey;
}

.id-drm-options {
	font-size: 85%;
}

.id-drm-sched-now {
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: red;
    opacity: 1;
    z-index: 300;
    pointer-events: none;
}

.id-drm-sched-tscale {
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: black;
    opacity: 0.1;
    z-index: 100;
    pointer-events: none;
}

.cl-drm-sched {
    position: absolute;
    background-color: white;
    /* font-size: 80%; */
}

.cl-drm-sched-station {
    position: relative;
    width: 100%;
    padding: 8px;
}

.cl-drm-sched-info {
    position: absolute;
    left: 3px;
}

.cl-drm-station-name {
    position: absolute;
    z-index: 400;
    font-weight: bold;
    color: black;
    pointer-events: none;
}

.cl-drm-station-name a {
	color: hsl(212, 100%, 50%);
}

.cl-drm-sched-hr-div {
    overflow: auto;
}

.cl-drm-sched-hr {
    margin: 15.8px;
    border-top: 1px solid black;
}

.cl-drm-sched-striped:nth-child(even) {
    background-color: #f1f1f1
}

.id-drm-sched-time {
    position: absolute;
    width: 50px;
    height: 30px;
    border-radius: 15px;
    background-color: Pink;
    opacity: 0.75;
    display: inline;
    cursor: pointer;
    z-index: 200;
}

.cl-drm-sched-options-time {
    width: 100px;
    /* border-radius: 10px; */
    text-align: center;
    color: black;
    background-color: Pink;
}

.cl-drm-slideshow-img {
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    transition: opacity 1s linear;
}
